/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: rgb(255, 115, 0);
    text-decoration: none;
    font-size: 20px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: rgb(33, 2, 172);
    font-size: 22px;
  }
  
  body {
    background-image: url(https://wallpaperaccess.com/full/321522.jpg);
    background-size: cover;
  }

 .searchbar {
    position:absolute;
    top:2%;
    left:60%;
    width: 100%;
    max-width: 300px;
    display: inline-flex;
 }

 .searchbar__input {
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid #12aa04;
    border-radius: 5px 0 0 5px;
    background: whitesmoke;
    transition: background 0.25s, box-shadow 0.25s;
 }

 .searchbar__input:focus {
    background: cyan;
    box-shadow: 0 0 2px #8cc6ba;
 }

 .searchbar__button {
     width: 40px;
     background: rgb(0, 255, 0);
     color: darkblue;
     outline: none;
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 0 5px 5px 0;
     cursor: pointer;
     user-select: none;
 }

 h1 {
   position: absolute;
   top: 8%;
   left: 20%;
   font-size: 60px;
   color: yellow;
 }

 h2 {
  position: absolute;
  top: 23%;
  left: 28%;
  font-size: 30px;
  color: rgb(212, 0, 255);
  font-weight: bold;
}

.button {
  position: absolute;
  top: 50%;
  padding: 21px 50px;
  text-align: center;
  text-decoration: none;
  left: 71%;
  color: darkblue;
  font-size: 25px;
  background-color: orange;
  font-weight: bold;
}
